

  @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

/* This code is basically centering the header at the top correctly */
*{
    margin:0; padding: 0;
    box-sizing: border-box;
    outline:none; border: none;
    text-decoration: none;
    transition: .2s linear; 
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0; left:0; right:0;
    background: #F21B2D;
    padding:  2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .navbar-container{
    padding: 0 1.5rem;
    
}



header #toggler{
    display:none;
}


header .fa-solid{
    font-size: 3rem;
    color: black;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .2rem solid;
    display: none;

}


/* media queries */
@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }
}

@media (max-width: 768px){
    header .fa-solid{
        display: block;
    }
/* Hamburger Menu Background color */
    header .navbar-container{
        position: absolute;
        top:100%; left:0; right:0;
        background: #C73E17;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        
    }


    header #toggler:checked ~ .navbar-container{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

/* Hamurger menu inner color */
    header .navbar-container a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #C73E17;
        border: .2rem solid rgba(0,0,0,.1);
        display:block;
    }
}

    @media (max-width:450px){
        html{
            font-size: 50%;
        }
    
        
    }


/* This code not only chnages the fonts,padding, and margin.
But also when you hover over the letter, an underline comes beneath it */
a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 15px;
}
/* White underline hover */
a:after{
    content: "";
    position: absolute;
    background-color: white;
    height:3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
a:hover{
    color: white;
}
a:hover::after{
    width: 100%;
}


/* Slider/carousel */

.primary-btn{
    box-sizing: border-box;
    color:black;
    border: 2px solid black;
    
}

.primary-btn:hover{
    background-color:#F21B2D;
}


.slider :where(.Image, .ob-cover){
    position: relative;
}

.slider .ob-cover{
    height: 430px;
}

.ob-cover img{
    position: absolute;
    height: 100%;
    width: 100%;
}









