/* Other variables */
 /*max-width: 100%;
    width: 130px;
    height: auto; */

    /* These numbers are based on my design
    process in figma */
    /* width: 130px;
    height: auto;
    top: 20px;
    left: 440px; */ 

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}
/* Color schemes/Text size for later */
:root{
    --bg-color: #ffffff;
    --text-color: #000;
    --second-color: #a09dab;
    --main-color: #f75023;
    --bg-font:5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}


body{
    background:var(--bg-color);
    color:var(--text-color);
}
header{
    position: fixed;
    width:100%;
    top:0;
    right:0;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3s;
    
}

/* Nav-List settings */
.NavList{
    display: flex;  
}
.NavList li{
    position: relative;

}


.NavList a{
    font-size: var(--p-font);
    color:var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
  
}
/* Nav-List hover */
.NavList a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left:0;
    transition: ease .40s;
}

.NavList a:hover::after{
    width:100%;
}


section{
    padding: 100px 18%;
}

.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url(Images/heart-1809673_1280.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap:4rem;
}

  /* Home-Body text */  /* ___________ */
.Home-Body-Text h1{
    margin: 10px 0px 25px;
    font-size: var(--bg-font);
    line-height: 1;
    font-weight: 500;
}

.Home-Body-Text h5{
    margin-bottom: 12px;
    font-size: 19px;
    font-weight: 500;
}
span{
    color:var(--main-color);
}

.Home-Body-Text h3{
    color:var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.Home-Body-Text p{
    font-size: var(--p-font);
    color:var(--second-color);
    line-height: 20px;
    margin-bottom: 20px;
}
/*___________   */

/* Social media */
.social-media a{
    width: 35px;
    height: 35px;
    border-radius: 58%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #99DCEF;
    font-size: 17px;
    color: var(--bg-color);
    margin-right: (var(--bg-color));
    margin-right: 22px;
    margin-bottom: 30px;
}

.social-media a:hover{
    transform:scale(1.1);
    background: var(--main-color);
    transition: .5s;
}

/* Home About me Button */
.btn{
    display: inline-block;
    color:var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transform: ease .40s;
}

.btn:hover{
    transform: scale(1.1);
}

.home-img img{
    padding:10px 40px;
    
}

/* About section */

.about{
    display:grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap:2rem;
}

header.sticky{
    background: var(--bg-color);
    padding: 13px 18%;
    box-shadow: 0px 0px 10px rgba(0 0 0 /10%);
}
/* About img */
.about-img img{
    max-width: 100%;
    width: 540px;
    height: auto;
}
/* About Text */
.about-text h2{
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 8px 0px 25px;
    line-height: 1.1;
}

.about-text h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.about-text p{
    max-width: 550px;
    font-size: var(--p-font);
    color:var(--second-color);
    line-height: 28px;
    margin-bottom: 45px;
}

/* Products img */

/* Replace with this if height is wrong later --> */
/* max-width: 300px; /* Set the maximum width */
/* height: auto; */

/*
.columns1{
    max-width: 398px; /* Set the maximum width */ 
    /*height: 314px;
} 

.columns3 img{
    max-width: 398px; /* Set the maximum width */ 
    /*height: 314px;
  
}

.columns4 img{
    max-width: 398px; /* Set the maximum width */
    /*height: 314px;
}

.columns5 img{
    max-width: 398px; /* Set the maximum width */
   /* height: 314px;
}

.columns6 img{
    max-width: 398px; /* Set the maximum width */
   /* height: 314px; */
    /* 398 × 314 px */
    /*
}
*/

/* Products sections */
.heading{
    text-align: center;
}
.heading h2{
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 7px 0px 20px;
    line-height: 1.1;
}

.heading h3{
    color:var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.heading p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 28px;
}

.product-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
}

.columns{
    position: relative;
}
.columns img{
    max-width: 100%;
    width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}


/* Layer color chnage when hovered over */
.layer{
    background: transparent;
    height: 100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    border-radius: 12px;
    transition: all .40s;
}
.layer:hover{
    background: linear-gradient(rgba(0,0,0,0.5)0%, #191919);
}

/* h3 layer hover for the title of product page */
.layer h3{
    position: absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color:var(--bg-color);
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
}
.layer:hover h3{
    bottom: 52%;
    opacity: 1;
}

/* h5 layer for the title of product page */
.layer h5{
    position: absolute;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color:var(--bg-color);
    top:50%;
    left:0%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .40s;
}
/* Hover when clicker is on product */
.layer:hover h5{
    bottom: 48%;
    opacity: 1;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
}
.row{
    background: #ffffff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    padding: 45px 45px 45px 45px;
    transition: ease .45s;
    cursor: pointer;
}

/*Service section red */
.s img{
    height: 65px;
    width: 65px;
    background: #f75124;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Service section 1 */
.s.service-one img{
    background: #99DCEF;
}

/* Service section 2 */
.s.service-two img{
    background: #99DCEF;
}

/* Service section 3 */
.s.service-three img{
    background: #99DCEF;
}

/* Service section 4 */
.s.service-four img{
    background: #99DCEF;
}
.row h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
}
.row h5{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 19px;
}
.row p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 28px;
}
.row:hover{
    transform: scale(1.1);
}

